@import './scss/mixins';
@import './scss/variables';
@import './scss/fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lobster', cursive;
	font-size: 16px;
  font-weight: bolder;
}

.login-title {
  margin: 1rem;
}

#App {
  @include flexbox;

  align-items: center;
  flex-direction: column; 
}

#submit {
  cursor: pointer;
  padding: 0 0.5rem;
}

.login-container {
  @include appContainer;

  & div {
    @include flexbox;
    justify-content: end;
    padding: 0.5rem
  }

  & input {
    @include inputText;
  }
}

.app-container {
  @include appContainer;
  font-family: 'Lobster', cursive;
  min-width: 17rem;

  & input {
    @include inputText;
  }
}

.todo-list {
  @include flexbox;
  
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 17rem;

  font-size: 1.2rem;
  font-weight: 400;
  list-style-type: none;
  text-decoration-line: none;

  font-family: 'Montserrat', sans-serif;

}

.todo{
  color: $green-color;
  cursor: pointer;
  margin: 0.5rem 0;
  

  &::before {
    content: "\200B"; /* add zero-width space */
  }

  &--completed {
    color: $violet-color;
    cursor: pointer;
    text-decoration-line: line-through
  }

}
